# This is a template for a .env file
# The .env file is used to load environmental variables
# Copy this file and delete {.example} part from {.env.example}

# OPENROUTER_API_KEY=

# WIP...
# CRITIC_API_KEY=
# CRITIC_BASE_URL=

# WIP...
# ACTOR_API_KEY=
# ACTOR_BASE_URL=
